<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인페이지</title>
</head>
<style>
    .wrab{
        width: 500px;
        height: 400px;
        color: white;
        background-color: green;

        background-image: url("");
        background-size: cover;
        background-position: center;
        border-radius: 10px;

        position: absolute;
        margin: -150px 0px 0px -200px;
        top: 50%; left: 50%;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;




    }

</style>
<body>
     <div class="wrab">
        <p> ID: <input type="text"/></p>
        <p>PW: <input type="text"/></p>
        <div><input type="checkbox" name="xxx" value="yyy"  checked>로그인유지</div>

        <div><button> 로그인</button><button> 회원가입</button></div>
    </div>
</body>
</html>